<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 7.1</title>
</head>
<body>
  <div class = "search" id="app">
    <form>
        <input type="text" v-model= "judul" placeholder="Ketikkan Kata Kunci">
            <ul v-for="books in books">
                <li>{{ books.judul }}</li>
            </ul>
    </form>
      
      
    </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {

        books : [
          
          { judul   : 'Kalkulus Dasar'} ,
          { judul   : 'Fisika Dasar'},
          { judul   : 'Aljabar Linier Elementer'},
          { judul   : 'Aljabar Abstrak'},
          { judul   : 'Aljabar Pemrograman'},
        ]
      },
      computed: {
  searchResult() {
  let judulBuku = this.books
  
  if (this.searchValue = '' && this.searchValue) {
        judulBuku = judulBuku.filter((item) => {
          return item.judul
            .toUpperCase()
            .includes(this.searchValue.toUpperCase())
        })
      }
    return judulBuku
  }
} 

})
</script>
</body>
</html>